* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #20B2AA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}
/* Cancel Button */
.cancel-btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; /* Supaya di atas elemen lain */
}

.cancel-btn {
    font-size: 24px;
    color: #005f73;
    text-decoration: none;
}

.cancel-btn:hover {
    color: #003f53;
}
.container {
    position: relative;
    display: flex;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
}

.left {
    background-color: #DEF5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}

.left img {
    max-width: 100%;
    height: 80%;
    display: block;
    margin: 0 auto;
}


.right {
    background-color: #1b3446;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
}

.right h1 {
    font-family: 'Merriweather', serif;
    color: #FFBD59;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    font-size: 46px;
}
.right h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-family: 'Merriweather Sans', sans-serif;
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 600;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}
.form-group input:focus,
        .form-group select:focus {
            border: 2px solid #20B2AA;
        }


.form-group input {
    background-color: #fff;
}

.form-group select {
    background-color: #fff;
}

.btn {
    background-color: #20B2AA;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1CBB9C;
}

.footer {
    margin-top: 15px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.footer a {
    color: #FFBD59;
    text-decoration: none;
    font-weight: 600;
}

.footer a:hover {
    text-decoration: underline;
}

  form {
    position: relative; /* Agar cancel-btn bisa diatur absolut */
  }
  .btn-google {
    background-color: #fff;
    color: #555;
    padding: 10px 15px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.btn-google img {
    width: 25px;
    height: 25px;
}

.btn-google:hover {
    background-color: #f7f7f7;
    color: #333;
}

.line-container {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  hr {
    width: 150px; /* Sesuaikan lebar garis sesuai keinginan */
    border: 1px solid #ccc; /* Sesuaikan warna dan ketebalan garis */
    display: inline-block;
  }
  
  span {
    position: relative;
    top: 3px; /* Sesuaikan posisi vertikal teks */
  }